<% if (user) { %>
	<h2>Runner Profile</h2>
	<br>
	<img src="<%= stravaProfile.photos[0].value %>" class="img-thumbnail">
	<br>
	<h2><%= user.firstName %> <%= user.lastName %></h2>
	<a href="https://www.strava.com/athletes/<%= stravaProfile.id %>" class="btn btn-primary">Strava Profile</a>
	<br>
	<br>
	<% if (user.registration) { %>
	<h4>ชื่อนักวิ่ง: <%= user.registration.firstName %> <%= user.registration.lastName %></h4>
	<h4>ระยะที่สมัคร: <%= user.registration.raceType %></h4>
	<% } %>
	<% if (user.foundation) { %>
		<h4>ทีม: <%= user.foundation.name %></h4>
		<h4>ระยะทางสะสมให้ทีม: <%= user.totalDistance / 1000.0 %> KM</h4>
		<br>
	<% } else { %>
		<h4>กรุณากรอกข้อมูลที่ได้จาก Email ICMM 2020</h4>
		<br>
		<h4>ลงทะเบียนด้วย Ranger Number</h4>
		<form action="me" method="post" id="reg-form" role="form" style="display: block;">
			<div class="row">
				<div class="col-md-6 mb-3">
				<label for="firstName">ชื่อ</label>
				<input type="text" class="form-control" id="firstName" name="firstName" placeholder="รันเนอร์" value="" required="">
					<div class="invalid-feedback">
						กรุณากรอกชื่อ
					</div>
				</div>
				<div class="col-md-6 mb-3">
				<label for="lastName">นามสกุล</label>
				<input type="text" class="form-control" id="lastName" name="lastName" placeholder="เรนเจอร์" value="" required="">
					<div class="invalid-feedback">
						กรุณากรอกนามสกุลนักวิ่ง
					</div>
				</div>
			</div>
			<div class="form-group">
				<label>Ranger No. เช่น Ranger-XXXX</label>
				<input type="text" name="registrationId" id="registrationId" placeholder="Ranger-XXXX" tabindex="1" class="form-control" required>
			</div>
			<div class="form-group">
				<button type="submit" id="submitButton" class="btn btn-primary">
					สมัคร
				</button>
			</div>
		</form>
		<!-- <br>
		<br>
		<h4>หรือ</h4>
		<h4>ลงทะเบียนด้วย ชื่อ - นามสกุล</h4>
		<form action="me" method="post" id="reg-form" role="form" style="display: block;">
			<form id="search-form" role="form" style="display: block;">
				<div class="row">
                    <div class="col-md-6 mb-3">
                    <label for="firstName">ชื่อ</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" value="" required="">
						<div class="invalid-feedback">
							กรุณากรอกชื่อ
						</div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <label for="lastName">นามสกุล</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="" required="">
						<div class="invalid-feedback">
							กรุณากรอกนามสกุลนักวิ่ง
						</div>
                    </div>
                </div>
				<div class="form-group">
					<label>หมายเลขโทรศัพท์</label>
					<input type="password" name="phoneNumber" id="phoneNumber" tabindex="2" class="form-control"
						minlength=4 maxlength=4 placeholder="เบอร์โทร 4 หลักสุดท้าย (หากไม่เคยกรอกไว้ตอนลงทะเบียนวิ่งให้เว้นว่างไว้)"
						required>
				</div>
				<button type="submit" id="submitButton" class="btn btn-primary">
					ส่ง
				</button>
			</form>
		</form> -->
	<% } %>
<% } else { %>
	<h3 color='red'>ไม่พบข้อมูล กรุณา Login ใหม่</h3>
	<a href="login" class="btn btn-lg btn-secondary">Login</a>
<% } %>
